@charset "utf-8";
		body{margin:0;padding:0;border:0;width:100%;background:#f4f4f4;position:relative;font-family:微软雅黑;}
		body,header,div{display:block;}
		html,a{cursor:url(../image/shubiao.ico),auto;}
		a{text-decoration:none;}
		header{width:100%;height:150px;line-height:250px;margin:0 auto;z-index:111;background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557817553235&di=4a2ad9a4c3ee2b467e197554e79ef114&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2Fcfc6611edc91f633fdbf758d8d2a096c76ec610f.jpg) center 20%;background-size:110%;box-shadow:0 1px 1px 0 #666;}
		#header{position:fixed;top:0;z-index:99999;overflow:hidden;transition:all 0.3s;}
		header div{position:absolute;width:100%;height:100%;transition:all 0.3s;}
		#logo{width:300px;margin-top:20px;transition:all 0.3s;}
		header ul{position:absolute;width:1120px;left:50%;margin:0;margin-left:-560px;list-style:none;padding:0;border:0;}
		header ul li{float:left;margin:0;}
		header ul li:first-child:hover{background:none;}
		header ul li a{color:#fff;margin:0 5px;padding:3px 10px;text-shadow:1px 1px 5px #000;border-radius:10px;text-decoration:none;}
		header ul li a:hover{background:#1abc9c;}
		header ul li:first-child{font-size:22px;}
		.Abody{width:1120px;height:100%;margin:160px auto 0;}
		.activity{float:left;width:100%;height:150px;background:#f60;margin-top:10px;box-shadow:0 1px 1px rgba(0,0,0,0.02);}
		.Aleft,.Aright{position:relative;padding:8px;box-shadow:0 1px 1px rgba(0,0,0,0.02);}
		.Aleft{float:left;width:60%;background:#fff;}
		.Aright{float:right;width:36%;background:#fff;}
		.Aright .guide{text-align:center;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.02);}
		.guide{background:url(../image/logo_bg.jpg) center no-repeat;}
		.guide img{border:solid 5px #eee;border-radius:100px;margin:30px 0 10px;box-shadow:2px 3px 5px #999;}
		.title{margin:0;padding:10px 0;border-bottom:solid 1px #ccc;}
		.title .gengduo{float:right;font-size:16px;font-weight:normal;margin:5px 5px 0;}
		.jiewei{width:100%;padding:0;text-align:center;padding:10px 0;margin-bottom:10px;}
		.jiewei a{color:#000;margin:0 10px;}
		#DIYmoveprompt{
		    position: fixed;
			bottom: 0;
			height: 80px;
			line-height: 80px;
			width: 100%;
			left: -50%;
			text-align: center;
			color: #fff;
			margin-left: -50%;
			background: rgba(0,0,0,0.6);
			font-family: arial,"微软雅黑","宋体",sans-serif;
			font-size: 24px;
			font-weight: 400;
			transition: all 1s;
		}
		#DIYmoveprompt:hover{background:rgba(0,0,0,0.8)}
		#DIYmoveprompt a{padding:5px 10px; background:#ffb452;border-radius:3px;margin:0 10px;color:#fff;}
		#DIYmoveprompt s{position: absolute;right: 5px;top: -30px; cursor:pointer;}
		/*全局元素*/
		
		/*幻灯片*/
		#banner { position: relative; width: 100%; height: 286px; border: 1px solid #666; overflow: hidden; }
		#banner_list img { border: 0px; width:100%; height:100%;}
		#banner_bg { position: absolute; bottom: 0; background-color: #000; height: 30px; filter: Alpha(Opacity=30); opacity: 0.3; z-index: 1000; width: 100%; }
		#banner_info { position: absolute; bottom:3px; left:10px; height: 22px; color: #fff; z-index: 1001;}
		#banner_text { position: absolute; width: 120px; z-index: 1002; right: 3px; bottom: 3px; }
		#banner ul { position: absolute; list-style-type: none; filter: Alpha(Opacity=80); opacity: 0.8; z-index: 1002; margin: 0; padding: 0; bottom: 3px; right: 5px; }
		#banner ul li { padding: 0px 8px; float: left; display: block; color: #FFF; background: #6f4f67; border: 1px solid #333; }
		#banner ul li.on { background-color: #000; }
		#banner_list a { position: absolute; }
		/*让四张图片都可以重叠在一起*/
		
		.tuijian,.hezuo{width:100%;margin-top:20px;padding:0;}
		/*推荐作品*/
		.tuijian_kj{padding:8px;}
		.tuijian_kj ul{list-style:none;padding:0;}
		.tuijian_kj ul li{width:200px;float:left;margin:0 10px 20px;}
		.tuijian_kj ul li .xia{position:relative;display:block;width:200px;height:266px;overflow:hidden;}
		.tuijian_kj img{width:100%;height:auto;}
		.tuijian_kj .shang{position:absolute;width:200px;left:50%;margin-left:-100px;text-align:center;background:rgba(0,0,0,0.7);color:#fff;line-height:30px;bottom:-30px;transition:all 0.3s;}
		.xia:hover .shang{bottom:0;}
		/*合作组织*/
		.hezuo_kj{padding:8px;}
		.hezuo_kj ul{list-style:none;padding:0;}
		.hezuo_kj ul li{float:left;margin:0 10px 20px;}
		.hezuo_kj ul li img{width:200px;}
		
		/*面包屑导航*/
		.bread_crumb{padding:10px;margin:20px 0 0px;color:#a5a5a5;text-shadow:0 1px 0 white;}
		.bread_crumb a{color:#a5a5a5;text-shadow:0 1px 0 white;}
		.bread_crumb a:hover{color:#ffb452;}
		.bread_crumb .home{padding-left:20px;background:url(../image/style_icon.png) no-repeat;background-position:0 -58px;}
				
		/*瀑布流*/
		.float{ float:left;}
		br{ clear:both; line-height:0;}
		#nav{ background:url(../images/pic_repeat_x.png) repeat-x; padding:0 0 4px 0;}
		#nav ul{}
		#nav ul li{ float:left; display:inline;}
		#nav ul li a{ _float:left; display:block; text-align:center; width:83px; font-size:14px; color:#000; line-height:50px; font-family:"微软雅黑",Arial; text-decoration:none; background:url(../images/pic_ilike.png) no-repeat -200px 0;}
		#nav ul li a.link,#nav ul li a:hover{ background-position:-92px 0;}
		#nav ul li a.hover{ background-position:12px 0;}
		#nav #logo{ width:100px; height:30; background:url(../images/logo3.png) no-repeat left center; display:block; margin:0 100px 0 100px;}
		#main{ width:1150px; margin:auto;}

		#main ul{ *overflow:hidden; _height:1%;list-style:none;padding:0;margin:0;}

		#main ul li{float:left; display:inline; list-style:none; margin:6px 0; background:#FFF; width:185px;padding:15px;border-radius:5px;border:1px solid #dddddd;box-shadow:0 1px 2px rgba(0,0,0,0.08);}
		#main ul li.hover{ border:1px solid #fa3241; border-bottom:2px solid #fa3241;}
		#main ul li img{ width:100%; display:block;}
		#main ul li img.hover{ filter: Alpha(opacity=90); -moz-opacity:.9; opacity:0.9;}
		#main a{color:#333;}
		#main b{display:block;margin:5px 0;}
		#main ul li p{margin:0;padding:0;font-size:14px;color:#999;line-height:20px;}

		.img_block{ position:relative; padding:10px;}

		.zoom,.ilike{ position:absolute; line-height:25px; padding:0 0 2px 18px; text-align:center; top:14px; display:block; text-decoration:none; background:url(../images/pic_ilike.png) no-repeat -200px 0;}
		.zoom{ left:14px; width:42px; background-position:0 -71px;}
		.zoom:hover{ background-position:0 -99px;}
		.ilike{ right:14px; width:57px; background-position:0 -140px;}
		.ilike:hover{ background-position:0 -167px;}

		.iNum,.iNum a{ background:url(../images/pic_ilike.png) no-repeat 0 -528px; padding:0 0 6px 28px; line-height:11px;}
		.iNum{ background-position:12px -522px;}
		.iNum a{ background-position:12px -550px; text-decoration:none;}

		.loading{ text-align:center; padding:30px 0;}
		
		/*瀑布流样式调整
		.masonry{padding:8px;margin:0;;list-style:none;}
		.masonry a{}
		.masonry li b{}
		*/
		
